.index-body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}

.index-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
}

.box-1 {
    text-align: center;
    width: 40%;
    margin-bottom: 30px;
}

.heading-1 {
    font-size: 1.8rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    margin-bottom: 0;
}

.heading-2 {
    margin: 10px 0px;
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.content {
    color: hsl(229, 6%, 66%);
}

.box-2 {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.card-heading {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-bottom: 0;
}

.card-content {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    margin-bottom: 50px;
}

.box-2-innerbox-1 {
    color: hsl(0, 0%, 98%);
    border-radius: 10px;
    box-shadow: 0 13px 30px -5px hsl(229, 6%, 66%);
    overflow: hidden;
    width: 30%;
    height: 45%;
}

.box-2-innerbox-2 {
    color: hsl(0, 0%, 98%);
    border-radius: 10px;
    box-shadow: 0 13px 30px -5px hsl(229, 6%, 66%);
    overflow: hidden;
    width: 100%;
    height: 45%;
}

.card-box {
    padding: 32px;
    padding-top: 0;
    height: 50%;
}

.bg-color-1 {
    width: 100%;
    height: 5px;
    background-color: hsl(180, 62%, 55%);
}

.bg-color-2 {
    width: 100%;
    height: 5px;
    background-color: hsl(0, 78%, 62%);
}

.bg-color-3 {
    width: 100%;
    height: 5px;
    background-color: hsl(34, 97%, 64%);
}

.bg-color-4 {
    width: 100%;
    height: 5px;
    background-color: hsl(212, 86%, 64%);
}

.box-2-middle-box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image {
    float: right;
    margin-bottom: 10px;
}